:root {
  --heading-font-family: "Libre Baskerville", serif;
  --default-font-family: "Poppins", sans-serif;
  --background-color: #f2f2f2;
  --secondary-color: #e9ffdb;
  --accent-color: #ffc7e2;
}

/* font-family: 'Libre Baskerville', serif;
font-family: 'Poppins', sans-serif; */

body {
  margin: 15px 10px;
  background: var(--background-color);
}

h1 {
  text-align: center;
  font-family: var(--heading-font-family);
  font-style: italic;
}

h2 {
  text-align: center;
  font-family: var(--default-font-family);
}

h3 {
  font-family: var(--heading-font-family);
  font-style: italic;
  text-align: center;
}

p {
  text-align: center;
  line-height: 1.5;
  font-family: var(--default-font-family);
  padding: 0 25px;
}

.hero {
  background: var(--secondary-color);
  max-width: 1200px;
}

.macrame-wall {
  border-radius: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.wall {
  max-width: 400px;
  height: auto;
  border-radius: 6px;
}

.bouquet {
  border-radius: 6px;
}

.bouquet-description {
  padding-top: 100px;
}

.name {
  text-align: center;
  background: var(--secondary-color);
  padding: 30px;
}

.wall-wrapper {
  max-width: 950px;
}

.keychain {
  text-align: center;
  background: var(--accent-color);
  padding: 30px 80px;
  margin: 0 20px;
}

.keychain-border {
  border: 4px solid var(--secondary-color);
  border-radius: 12px;
}

.shelf {
  border-radius: 6px;
  width: 500px;
}

.lamp {
  border: 2px solid var(--secondary-color);
  max-width: 400px;
  height: auto;
  border-radius: 6px;
}

.lamp-description {
  background: var(--secondary-color);
  text-align: center;
  padding: 70px;
  height: 490px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

footer .highlight {
  background: var(--accent-color);
}

@media (max-width: 900px) {
  .wall,
  .bouquet,
  .huge,
  .shelf,
  .lamp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }

  .bouquet-description {
    padding-top: 0;
  }

  .lamp-description {
    height: auto;
  }
}
